$slice-size-mob: 36vh;
$slice-size-normal: 60vh;

#app {
    font-family:
      'Quicksand',
      'Source Sans Pro',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #49c79e; // TODO maybe this should be in the theme
  }
  
html {
  background-color: black;
  color: #49c79e;
}

.background {
    opacity: 0.25;
    width: 100%;
    height: 100%;
    position: fixed;
}

.main-content {
  position: absolute;
  width: 100%;
  z-index: 100;
  margin-top: 20px !important;
  margin: 0 auto;
  min-height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  &.centred {
    align-items: center;
  }
  .centred-text {
    text-align: center;
  }
}

.c-title {
  display: block;
  font-weight: 300;
  font-size: 9vw;
  // letter-spacing: 1px;
}

.c-subtitle {
  font-weight: 300;
  font-size: 3vw;
  // word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
